<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.training.mapper.UserMstMapper">
    <select id="findUser" parameterType="String" resultType="com.example.training.dto.UserInfo">
        SELECT
          USER_ID,
          USER_PASSWORD
        FROM
          USER_MST
        WHERE
          USER_ID = #{userId}
          AND USER_PASSWORD = #{userPassword}
    </select>
</mapper>